.counter {
  @include display(flex, space-between, center);
  flex-wrap: wrap;
  width: 200px;

  margin: 0 auto;

  &__value {
    @include font-sans(rem(48), rgb(77, 77, 77));
  }

  &__btn {
    @include font-sans(rem(32), rgb(162, 62, 255));
    @include reset-btn();
    @include display(flex, center, center);

    background: rgba(112, 76, 182, 0.1);

    width: 40px;
    height: 40px;

    border-radius: 100%;

    cursor: pointer;

    transition: all 0.2s linear;

    &:hover {
      border: 2px solid rgb(162, 62, 255);
    }
  }
}
